<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            <form action="#">
                <h2>@ViewBag.Title</h2>
                @RenderBody()
                @RenderSection("scripts", required: false)
                <!---------------------------------------------------------------------------------->


            </form>
        </div>
        @*<div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    @Html.ActionLink("Add Projects", "MainRegistration", "Register",new {style= "color:white;font-size: 25px;font-weight: bold;" })
                    @Html.ActionLink("Approve Projects", "MainRegistration", "Register", new { style = "color:white;font-size: 25px;font-weight: bold;" })
                    @Html.ActionLink("Assign Projects", "MainRegistration", "Register", new { style = "color:white;font-size: 25px;font-weight: bold;" })
                    @Html.ActionLink("View Status", "MainRegistration", "Register", new { style = "color:white;font-size: 25px;font-weight: bold;" })
                </div>
            </div>
        </div>*@
    </div>
</body>
</html>