@model ReleaseManagementMVC.Models.Bug

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>AddBug</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h3>Raise a bug</h3>

                @Html.EditorFor(model => model.BugID, new { htmlAttributes = new { placeholder="BudID",@class = "form-control" } })

                @Html.DropDownList("ModuleID", ViewBag.modlist as SelectList, new { required = "required", style = "background-color: #eee; border: none; padding: 12px 15px;margin: 8px 0; width: 100%;" })

               

                @Html.DropDownList("BugStatus", new List<SelectListItem>
                        {
                            new SelectListItem{ Text="Bug Raised", Value = "Bug Raised" },
                            new SelectListItem{ Text="Bug Closed", Value = "Bug Closed" }

                        }, "Select Bug Status", new { required = "required", style = "background-color: #eee; border: none; padding: 12px 15px;margin: 8px 0; width: 100%;" })
                        <input type="submit" value="Create" class="btn btn-default" />

            }

        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    @Html.ActionLink("Home", "WelcomeTester", "Tester")
                    @Html.ActionLink("Raise a Bug", "AddBug", "Tester")
                    @Html.ActionLink("Resolve a Bug", "AddBug", "Tester")
                    @Html.ActionLink("View Bugs", "ViewBug", "Developer")
                    @Html.ActionLink("Log out", "MainLogin", "Login")

                </div>
            </div>
        </div>
    </div>
</body>
</html>
