@model IEnumerable<ReleaseManagementMVC.Models.Bug>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBugs</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BugID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TesterID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BugStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BugID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TesterID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BugStatus)
                </td>
            </tr>
        }

    </table>
    @Html.ActionLink("Home", "WelcomeDev", "Developer")
    @Html.ActionLink("View Modules", "Show", "Developer")
    @Html.ActionLink("Mark as done", "DevMarkDone", "Developer")
    @Html.ActionLink("View Bugs", "ViewBugs", "Developer")
    @Html.ActionLink("Log out", "MainLogin", "Login")
</body>
</html>
