@model ReleaseManagementMVC.Models.Project

@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome</title>

    <link href="~/Content/style.css" rel="stylesheet" />


</head>

<body>

    <div class="container" id="container">
        <div class="form-container log-in-container">


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/jqueryval")


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h3>Approve Projects</h3>
                @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Create" class="btn btn-default" />
            }


        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">

                    @Html.ActionLink("Add Project", "AddProject", "Manager")
                    @Html.ActionLink("Assign Team to Projects", "AssignProject", "Manager")
                    @Html.ActionLink("Approve Projects", "ApproveProjects", "Manager")
                    @Html.ActionLink("Log out", "MainLogin", "Login")


                </div>
            </div>
        </div>
    </div>


</body>

</html>