@model ReleaseManagementMVC.Models.Module

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>ApproveModules</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container log-in-container">
            @using (Html.BeginForm())
            {
                @Html.DropDownListFor(model => model.ModuleID, ViewBag.modlist as SelectList, new { required = "required", style = "background-color: #eee; border: none; padding: 12px 15px;margin: 8px 0; width: 100%;" })
                <input type="submit" value="Create" class="btn btn-default" />
             }
        </div>


        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    @Html.ActionLink("Home", "WelcomeTeamLeader", "TeamLeader")

                    @Html.ActionLink("Add Modules", "AssignModules1", "TeamLeader")
                    @Html.ActionLink("Approve Modules", "ApproveModules", "TeamLeader")
                    @Html.ActionLink("View Modules", "ViewModules", "TeamLeader")
                    @Html.ActionLink("Logout", "Logout", "Login")
                </div>
            </div>
        </div>
    </div>
</body>
</html>
