@model ReleaseManagementMVC.Models.Module

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>ApproveModules</title>
</head>
<body>
    @using (Html.BeginForm())
    {

        <div class="container" id="container">

            <div class="form-container log-in-container">
                @Html.AntiForgeryToken()
                @Html.EditorFor(model => model.ModuleID, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        @Html.ActionLink("Add Modules", "AssignModules1", "TeamLeader")
                        @Html.ActionLink("Approve Modules", "ApproveModules", "TeamLeader")
                        @Html.ActionLink("Logout", "MainLogin", "Login")

                    </div>
                </div>
            </div>
        </div>
    }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
    </body>
</html>
