@model IEnumerable<ReleaseManagementMVC.Models.temp.modpro>

@{
    ViewBag.Title = "ViewModules";
    Layout = "~/Views/Shared/_ViewLayout.cshtml";
}
<h2>Modules Assigned by  @TempData.Peek("EmployeeKeyName") to his team</h2>
<table class="table">
    <tr>
        <th>
            Module ID
        </th>

        <th>
            Module Name
        </th>
        <th>
            Project ID
        </th>

        <th>
            Project Name
        </th>

        <th>
            Developer Name
        </th>
        <th>
            Tester ID
        </th>

        <th>
            Module Status
        </th>
        <th>
            Project Status
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.module.ModuleID
            </td>
            <td>
                @item.module.ModuleName
            </td>
            <td>
                @item.project.ProjectID
            </td>

            <td>
                @item.project.ProjectName
            </td>

            <td>
                @item.module.DeveloperID
            </td>
            <td>
                @item.module.TesterID
            </td>
            <td>
                @item.module.ModuleStatus
            </td>
            <td>
                @item.project.ProjectStatus
            </td>
        </tr>
    }

</table><br/><br />
@Html.ActionLink("Add Modules", "AssignModules1", "TeamLeader")
@Html.ActionLink("Approve Modules", "ApproveModules", "TeamLeader")
@Html.ActionLink("View Modules", "ViewModules", "TeamLeader")
@Html.ActionLink("Logout", "MainLogin", "Login")